/* ---------------------MOBILE OPTIMIZATION------------------------*/

.about-container{
    color: #29292e;
}
.about-heading{
    margin-top: 5em;
    text-align: center;
    color: #29292e;
}

.about-content{
    padding: 1em 1em;
}

.about-content p{
    color: rgb(69, 68, 68);
}

.about-image{
    display: none;
}


/* ---------------------TABLET OPTIMIZATION------------------------*/

@media only screen and (min-device-width: 37em) {
    .about-container {
        width: 80%;
    }

    .about-content{
        margin: 2em 0;
    }

    .about-heading {
        font-size: 2em;
    }

    .about-content p {
        font-size: 1.25em;
    }
}


/* ---------------------DESKTOP OPTIMIZATION------------------------*/

@media only screen and (min-device-width: 64em)
{
    .about-container{
        padding: 0.5% 10%;
        font-size: 1.25em;
    }
    
    .about-heading{
        margin-bottom: 1em;
    }
    
    .about-image{
        display: block;
        height: 5em;
        width: 5em;
        border-radius: 40px;
        background-image: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 24, 62));
    }

    .about-content{
        margin-top: 1em;
    }
}
    
