#article-img {
    background-image: url('../imgs/profile.png');
    background-size: cover;
    background-position: center;
    color: transparent;
}

.article-img {
    background-image: url('../imgs/cover.png');
    background-position: center;
    background-size: cover;
    height: 180px;
    border: 2px solid salmon;
    margin: 0.5em 0;
}