
#article-img {
    background-image: url('../imgs/profile.png');
    background-size: cover;
    background-position: center;
    color: transparent;
}

.article-img {
    background-image: url('../imgs/cover.png');
    background-position: center;
    background-size: cover;
    height: 12em;
    border: 2px solid salmon;
    margin: 0.5em 0;
}

.author-date{
    display: flex;
    justify-content: flex-start;
    font-size: smaller;
    margin: 2% 2%;
}

.author-date p{
    margin: 1.5% 1% 1.5% 0;
}

.author-date p i{
    color: #555;
}