.submit-button:hover{
    cursor: pointer;
}

/* ----------------------------------------------------
                    MOBILE VERSION
---------------------------------------------------- */

/*-----------------------Navbar----------------------*/
nav {
    background: transparent;
    top: 0;
    right: 0; 
    height: 19%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-grey{
    display: none;
}

.login-page{
    display: none;
}

.nav-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 6.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #434343, #000000);
    z-index: 2;
}

/*-----------------------Home Topics----------------------*/
.topic-outer{
    width: 100%;
    background-color: white;
    flex: 0.75;
    position: relative;
    bottom: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.topic-parent{
    height: 70%;
    width: 96%;
    position: absolute;
    bottom: 0;
    right: 2%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border-bottom: 1.5px solid black;
    background-color: white;
}

a{
    text-decoration: none;
}

.topic-parent a{
    flex: 1;
}

#topic-child{
    font-weight: 500;
    color: black;
}

/* -----------------Login Menu------------------------*/
.login-grey-inactive {
    display: none;
    z-index: 99;
}

.login-grey {
    display: inline-block;
    padding-top: 3.5em;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000b4;
    z-index: 9;
}

.login-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    font-size: 1em;
    animation: popup 2s;
    animation-fill-mode: forwards;
}

.login-page h3 {
    margin-top: 1em;
}

.cancel-btn {
    width: 1.75em;
    height: 1.75em;
    background-image: url("../imgs/cancel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1em;
    margin-top: 1em;
}

.admin-details h4 {
    margin: 1em 0 0 0;
}

.admin-details input {
    height: 5em;
    width: 18em;
    font-size: 0.75em;
    border: none;
    border-bottom: 2px solid #c93655;
    outline: none;
}

.submit-button {
    margin-top: 5em;
    background-image: linear-gradient(to right, orange, #c93655);
    display: block;
    width: 12em;
    height: 3em;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 0.65em;
}

/*------------------Burger Menu-----------------------*/
.burger {
    height: 25px;
    width: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.burger-bar {
    background-color: #c93655;
    width: 70%;
    height: 10%;
    margin: 0.5px 0.1px;
    border-radius: 5px;
}

.burger-bar.x:nth-child(1){
    transform: rotate(45deg) translateX(1.85px) translateY(12px);
    transition: ease-out 0.5s;
}
.burger-bar.x:nth-child(2) {
    transform: translatex(160px);
}
.burger-bar.x:nth-child(3) {
    transform: rotate(135deg) translateX(0.05px) translateY(10px);
    transition: ease-out 0.5s;
}

.burger-bar.bars:nth-child(1) {
    transform: rotate(0deg) translateX(0px) translateY(0);
    transition: ease-out 0.75s;
}

.burger-bar.bars:nth-child(2) {
    transform: translatex(0px);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.75s;
}

.burger-bar.bars:nth-child(3) {
    transform: rotate(0deg) translateX(0px) translateY(0px);
    transition: ease-out 0.75s;
}

.logo-cover{
    height: 3em;
    width: 10em;
    margin: 0;
}

.logo {
    background-image: url('../imgs/profile.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.drawer{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 6.25em;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    z-index: 99999;
}

.drawer h4{
    display: none;
}

.drawer.long {
    background-color: white;
    padding: 0.5em;
    animation: slide-down 0.75s;
    transition: ease-out;
    height: 100%;
}

.drawer.long h4{
    display: block;
    font-weight: 500;
    margin: 1em;
}

.drawer.short {
    animation: slide-up 0.5s;
    transition: ease-in;
}

@keyframes slide-down{
    from{
        height: 0%;
    }
    to{
        height: 100%;
    }
}

@keyframes slide-up {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

@keyframes widen{
    from{
        border-bottom: 2.5px solid white;
    }
    
    to{
        width: 2.5px solid #c93655;
    }
}

@keyframes popup{
    from{
        background-color: transparent;
        height: 20em;
    }
    to{
        background-color: white;
        height: 24em;
    }
}
/* ----------------------------------------------------
                    END OF MOBILE VERSION
---------------------------------------------------- */




/* ----------------------------------------------------
                    TABLET VERSION
---------------------------------------------------- */
@media only screen and (min-device-width: 37em) {

    .login-page {
        margin-top: 1.75em;
        width: 18em;
        border-radius: 20px;
        font-size: 1.25em;
    }

    .login-page h3 {
        margin-top: 1em;
    }

    .cancel-btn {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        margin-top: 0.5em;
    }

    .admin-details h4 {
        margin: 2em 0 0 0;
    }

    .admin-details input {
        height: 3em;
        width: 20em;
        font-size: 0.75em;
        border: none;
        border-bottom: 2px solid #c93655;
        outline: none;
    }

    .submit-button {
        height: 2.5em;
    }

    .drawer {
        top: 6em;
    }

    .drawer.long {
        font-size: 1.25em;
    }

    .drawer.long a h4 {
        color: #1f1e1e;
    }

    .nav-container {
        height: 8em;
    }

    .logo-cover {
        height: 5em;
        width: 15em;
    }

    .topic-outer {
        font-size: 1.15em;
        flex: 0.65;
    }

}
/* ----------------------------------------------------
                END OF TABLET VERSION
---------------------------------------------------- */




/* ----------------------------------------------------
                    DESKTOP VERSION
---------------------------------------------------- */
@media only screen and (min-device-width: 64em) {
    
    /*-----------------------Navbar------------------*/
    .logo-cover{
        height: 10em;
        width: 20em;
    }
    .nav-container{
        height: 17%;
        position: absolute;
    }

    /*---------------------Burger Menu---------------*/
    .burger{
        display: none;
    }

    /*---------------------Login---------------------*/
    .logo{
        background-image: url('../imgs/cover.png');
    }

    .login-icon{
        width: 45px;
        height: 45px;
        margin: 0 2%;
        background-image: url('../imgs/user\ icon.png');
        background-position: center;
        background-size: cover;
    }

    .login-grey{
        padding-top: 7em;
    }
    .login-page{
        height: 24em;
        width: 18em;
        border-radius: 20px;
        font-size: 1.5em;
    }

    .login-page h3{
        margin-top: 1em;
    }

    .cancel-btn{
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        margin-top: 0.5em;
    }

    .admin-details h4{
        margin: 2em 0 0 0;
    }

    .admin-details input{
        height: 3em;
        width: 20em;
        font-size: 0.75em;
        border: none;
        border-bottom: 2px solid #c93655;
        outline: none;
    }

    .submit-button{
        margin-top: 5em;
        background-image: linear-gradient(to right, orange, #c93655);
        display: block;
        width: 22em;
        height: 2.5em;
        border: none;
        border-radius: 15px;
        color: white;
        font-size: 0.65em;
    }

    /*---------------------Home Topics---------------*/
    .topic-outer {
        flex: 0.75;
        font-size: 1em;
        width: 100%;
        border-radius: 0%;
        box-shadow: 0 0.188em 1.25em -0.525em rgb(163, 161, 161);
    }

    .topic-parent {
        height: 100%;
        border-bottom: 0px solid black;
    }

    .topic-parent a {
        flex: 1;
        margin: 0.75em 8em 0em 8em;
    }

    .topic-parent a:hover{
        border-bottom: 2.5px solid #c93655;
        animation: widen 0.5s ease;
    }

    #topic-child {
        font-size: 1.5em;
        color: black;
        height: 75%;
    }
}
/* ----------------------------------------------------
                    End of Desktop Version
---------------------------------------------------- */