/* Mobile version */
p, h1, em{
    display: block;
}
.quill-cover {
    z-index: 1;
    width: 100%;
}

.ql-editor{
    min-height: 15em;
    font-size: 1.25em;
}

/* desktop version */
@media only screen and (min-device-width: 64em){
    
    .quill-cover{
        width: 60%;
    }

    .ql-editor{
        font-size: 1.5em;
    }
}