/* post success */
.popup_on  {
    min-height: 3em;
    width: 15em;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    animation: pop 1s;
}

.popup_off {
    display: none;
}

.popup_success {
    background: rgba(50, 205, 50, 0.95);
    border: 2px solid lawngreen;
}

.popup_success h2 { color: darkgreen; }


.popup_fail {
    background: rgba(248, 46, 46, 0.986);
    border: 2px solid rgb(255, 19, 19);
}

.popup_fail h2 { color: rgb(110, 0, 0);}

.popup_on button {
    width: 5em;
    height: 1.5em;
    border: 0;
    border-radius: 2px;
    background-color: white;
}

.popup_on button:hover {
    background-color: rgb(214, 208, 208);
}

/* popup animation */
@keyframes pop {
    from {
        transform: scale(0.05);
    }
    to {
        transform: scale(1);        
    }
}